/* style.css */

body {
    font-family: Arial, sans-serif; /* Fallback font family */
    text-align: center; /* Center-align text */
    margin: 0; /* Remove default margin */
    background-color: #FADADD;
}

#container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
}

#image-container {
    
}

#question {
    font-family: 'Sacramento', cursive; 
    font-size: 52px; 
}

#options {
    margin-top: 20px; 
}

button {
    padding: 10px 20px; 
    margin: 0 10px; 
    font-size: 26px;
    font-family: 'Sacramento', cursive; 
    background-color: #FB607F; 
    color: white; 
    border: none; 
    cursor: pointer; 
}

footer {
    position: absolute; 
    bottom: 10px; 
    right: 20px; 
    font-size: 12px; 
    color: #f20707be; 
    font-family: Arial, sans-serif; /
}
