/* style.css */

body {
  font-family: Arial, sans-serif; /* Fallback font family */
  text-align: center; /* Center-align text */
  margin: 0; /* Remove default margin */
  background-color: #fadadd;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#image-container {
}

#question {
  font-family: "Sacramento", cursive;
  font-size: 52px;
}

#options {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 26px;
  font-family: "Sacramento", cursive;
  background-color: #fb607f;
  color: white;
  border: none;
  cursor: pointer;
}

#image-caption {
  margin-top: 12px;
  /* font-family: 'Sacramento', cursive; */
  font-family: "Alex Brush", cursive;

  font-size: 45px;
  color: #ee0e0e;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 23px;
  color: #f20707be;
  font-family: Arial, sans-serif;
}
